<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>Title</title>
</head>
<body>
    <img src="../static/images/bg.jpg" width="300px" height="250px">
    <img src="http://i0.hdslb.com/bfs/article/bc1ccb9a793a790f23d17373f0398501d2f8564e.png" width="300px" height="250px">
    <img src="C://Users/关舟舟/Pictures/明日方舟/bgp_menu.jpg" width="300px" height="250px">
    <img src="https://p1.ssl.qhimgs1.com/sdr/400__/t01ebbfb6988299a5a1.jpg" width="300px" height="250px">
    <img src="http://browser9.qhimg.com/bdm/1000_618_80/t013a4ed4683039d101.jpg" width="300px" height="250px">
hello
</body>
</html>